@import './import.scss';

// VARIABLES
// -----------------------------------------------------------------------------
$font-family-header: 'Source Sans Pro', 'Open Sans', Georgia, 'Times New Roman', Times, serif;
$text-base-color: white;

// LAYOUT
// -----------------------------------------------------------------------------
html {
  background-color: black;
  font-family: $font-family-header;
}

// apply styles to all headers
@for $i from 1 through 6 {
  h#{$i} {
    font-family: $font-family-header;
    color: $text-base-color;
  }
}

li,
a:link,
p {
  color: $text-base-color;
}

// nav
.navigation {
  &__main {
    &__container {
      padding-left: 0;

      & > ul {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-column-gap: 1em;
        width: 100%;
        padding-left: 0;
        list-style-type: none;

        & > li {
          text-align: center;
        }
      }
    }
  }
}
