include ../mixins/index.pug

doctype html
html
  head
    +globalHead('../sass/index.scss', 'Learn Animations')

  body
    nav.main-navigation__container
      a(href="/") LOGO
      a(href="./wow.pug") WOW
    h1 welcome to index.pug!
    h2 fukk you

    //- footer scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
    script(src="../js/index.js")
